

   .about .about__title{
    color:#F97300;
    margin: 2em;
   }
   .about .about__image{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }
   .about .about__span{
    display: block;
    color: #28a745;
    position: absolute;
    top: 5px;
    left: 5px;
   }
   .about .about__text{
    padding: 2em;
    border-left: 4px solid #28a745;
   }
   .about .about__text .about__title{
    color: #28a745 ;
   }
   .about .about__text .about__desription{
    line-height:2;
    color:#888;
   }
   .about__image{
       transition: .5s all ease-in-out;
   }
   .about__image:hover{
    transform: scale(1.2);
   }
   .about__reclam{
       font-size: 3em;
   }

   /*Portfolio*/

   .portfolio .portfolio__title{
    color:#28a745;
    margin: 2em; 
   }
   .portfolio .portfolio__img{
     height: 15rem;
     width: 100%;
     margin: 1em;
   }
